<div class="container">
<h5>Activities</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Activity, Site, Project (IDs)</th>
      <th scope="col">Scope<br/>Certifications, Skills</th>
      <th scope="col">Priority</th>
      <th scope="col">Capacity</th>
      <th scope="col">Dates</th>
    </tr>
  </thead>
  <tbody>
  {{#plan.activities}}
    <tr>
      <td>{{activityId}} <br/> {{siteId}}<br/>{{projectId}}</td>
      <td><b>{{scope}}</b> <br/> <b>C:</b> {{#certifications}} {{.}}<br /> {{/certifications}} <br/> <b>S:</b> {{#skills}} {{.}}<br /> {{/skills}}</td>
      <td>{{priority}}</td>
      <td>{{capacity}}</td>
      <td>{{activityStartDate}}<br/> {{activityEndDate}}</td>
    </tr>
    {{/plan.activities}}
  </tbody>
</table>
</div>



