gantt
  title Program activities
  dateFormat YYYY-MM-DD
  {{#planActivities}}
  section {{site}}
    {{#activities}}
    {{id}} P{{p}} C{{c}}       :{{id}}, {{start}}, {{end}}
    {{/activities}}
  {{/planActivities}}

  