<div class="mt-5 mb-3">
<div class="container" >
  <div class="row">
    <div class="col">
      <h5>Program</h5>
      <p>{{plan.programTitle}}</p>
      <p>{{plan.programId}}</p>
      <h6>{{plan.programStartDate}} - {{plan.programEndDate}}</h6>
    </div>
    <div class="col">
      <h5>Customer</h5>
      <p>{{plan.customerTitle}}</p>
      <p>{{plan.customerId}}</p>
    </div>
  </div>
  <hr />
</div>
</div>

