<div class="container">
<h5>Sites</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Address</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody>
  {{#plan.sites}}
    <tr>
      <th>{{siteId}}</th>
      <td>{{siteTitle}}</td>
      <td>{{countryCode}}, {{state}}, {{city}},</br>{{address}}</td>
      <td>lat: {{latitude}}</br>log: {{longitude}}</td>
    </tr>
    {{/plan.sites}}
  </tbody>
</table>
</div>

